---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
<title>The Spatial Update</title>
<link>{{ site.url }}</link>
<description>{{ site.tagline }}</description>
{% for story in stories %}
<item>
<title>{{ story.title }}</title>
<link>{{ site.url }}{{ story.url }}</link>
<guid>{{ site.url }}{{ story.url }}</guid>
<description>{{ story.description }}</description>
</item>
{% endfor %}
</channel>
</rss>
